*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.conteiner{
    display: flex;
    justify-content: center;align-items: center;flex-direction: column;
    gap: 2em;margin-top: 10em;

}
.ListConteiner{
    display: flex;flex-direction: column;
    gap: 0.5em;
   
}
button{
    border-radius: 20px;border: 2px solid gray;
    padding: 0.3em;
}
li{
    display: flex;align-items: center;
    gap: 2em;
}